<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Tags</title>         
</head>
<body>
    <h1><%= title %></h1>
    <p>current Second :<%= second %></p>
    <% if ( second % 2 === 0){ %>
        <ul>
            
            <!-- <% for (let i = 0; i< items.length ; i++){ %>
            <li>
                <%= items[i] %>
            </li>
            <% } %> -->

            <% items.forEach(fruite => { %>
                <li>
                    <%= fruite %> 
                    </li>
            <% }); %>
        
    </ul>
        
        <% } else {%>
            
            
        <p>No data to display</p>
        <% } %>
    
</body>
<!-- <footer>copyright</footer> -->
 <%- include("footer.ejs") %>
</html>